{% extends "layout.html" %}

{% block content %}
<div class="dark-overlay-full overflow">
    <main class="container">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur facilis illo ullam libero. Maiores iste soluta consectetur aliquam, voluptatum aspernatur? Porro consequatur facilis tenetur vitae quaerat distinctio suscipit tempore dolorum exercitationem voluptate, consectetur architecto rerum sint, totam assumenda aliquam perferendis nulla asperiores perspiciatis fugiat quas recusandae est deserunt possimus. Beatae architecto assumenda unde maxime accusantium veniam quaerat, debitis natus eveniet, atque quisquam cupiditate tempore quidem maiores neque minima asperiores illum doloribus non! Reiciendis, magnam. Quaerat, eius adipisci placeat possimus, quibusdam quam laboriosam aliquid cumque doloremque magni velit asperiores, earum cum iste maiores molestias fuga aspernatur libero recusandae illum iusto provident!</p>
    </main>
</div>
{% endblock %}